repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        require_serial: true
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=.pylintrc",
            "--load-plugins=pylint.extensions.docparams",
          ]
  - repo: local
    hooks:
      - id: requirements
        name: requirements
        entry: bash -c 'venv/Scripts/pip3 freeze -l > requirements.txt; git add requirements.txt'
        language: system
        stages: [commit]